input[type=button] {
	background-color: rgb(245, 245, 245);
	border: 1px solid;
	border-radius: 2px 2px 2px 2px;
	color: rgb(50, 50, 50);
	cursor: pointer;
	font-family: arial,sans-serif;
	font-size: 11px;
	font-weight: normal;
	height: 29px;
	line-height: 27px;
	margin: 11px 6px;
	min-width: 54px;
	padding: 0px 8px;
	text-align: center;
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.5);
}
input[type=button]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5aa900), color-stop(1, #5aa900) );
	background:-moz-linear-gradient( center top, #5aa900 5%, #5aa900 100% );
	background-color:#5aa900;
}
input[type=button]:active {
	position:relative;
    top:1px; 
    }

* {
	margin: 0px;
}

.TwitterFeed .jta-tweet-list
{
    height: 400px;
    overflow:auto;
}
.Twitter_iFrame
{
	float:left; 
	padding-left:30px;
}
body,html{
		top:0px;
		margin:0px;
		background-color: #ec7f18;
		height:100%;
	}
	#TitleBar{
		display: block;
		height: 65px;
		line-height: 65px;
		background-color: rgb(243, 243, 243);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	}
		#TitleBar > h1{
			color: rgb(85, 85, 85);
			font-family: 'Helvetica Neue Light',HelveticaNeue-Light,'Helvetica Neue',Helvetica,Arial,sans-serif;
			font-size: 28px;
			margin-left: 20px;
			font-weight: normal;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
			float:left;
		}
	
	#NavBar{
		line-height: 35px;
		background-color: rgb(51, 51, 51);
		box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.5);
		margin-bottom:0px;
	}
		#NavBar > a{
			color:rgba(255, 255, 255, 0.6);
			font-family: 'Helvetica Neue Light',HelveticaNeue-Light,'Helvetica Neue',Helvetica,Arial,sans-serif;
			padding-left: 20px;
			text-decoration: none;
			cursor: pointer;
		}
	#footerBar{
		height:35px;
		background-color: rgb(51, 51, 51);
		box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
		position: relative;
		margin-top:20px;
		margin-right:0px;
		margin-bottom:0px;
		margin-left:0px;
		bottom: 0px;
	}
	#footerContainer{
		padding-top:7px;
	}
	#footerContainer > a{
			color:rgba(255, 255, 255, 0.6);
			font-family: 'Helvetica Neue Light',HelveticaNeue-Light,'Helvetica Neue',Helvetica,Arial,sans-serif;
			padding-left: 20px;
			text-decoration: none;
			cursor: pointer;
			vertical-align: top;
		}
	
	#main-container{
		position: relative;
		height:auto; 
		margin: 0 auto; 
		padding:1px; 
		overflow: hidden;
	}
	.contentHolder{
		display: none;
		margin: 0 auto;
		min-height:100%
	}
#userForm{
	padding-left:40px;
	padding-right:40px;
	padding-top:20px;
	padding-bottom:20px;
	border: 1px solid;
	border-radius: 15px;
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.5);
	background-color: rgb(243, 243, 243);
	margin-top:30px;
	width:450px;
}

#homepage_description{
	width:800px;
	margin-top: 20px;
	margin-bottom: 5px;
}

#mission{
	padding-left:40px;
	padding-right:40px;
	padding-top:20px;
	padding-bottom:20px;
	border: 1px solid;
	border-radius: 15px;
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.5);
	background-color: rgb(243, 243, 243);
	margin-top:30px;
	width:600px;
}
#mission h3{
	margin:10px;
}
#mission p{
	margin: 10px;
}






#floatingBarsG{
	position:relative;
	width:62px;
	height:77px
}

.blockG{
	position:absolute;
	background-color:#ec7f18;
	width:10px;
	height:24px;
	-moz-border-radius:8px 8px 0 0;
	-webkit-border-radius:8px 8px 0 0;
	-webkit-transform:scale(0.4);
	-webkit-animation-name:fadeG;
	-webkit-animation-duration:0.72s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-moz-transform:scale(0.4);
	-moz-animation-name:fadeG;
	-moz-animation-duration:0.72s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	border-radius:8px 8px 0 0;
	-o-transform:scale(0.4);
	-o-animation-name:fadeG;
	-o-animation-duration:0.72s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-ms-transform:scale(0.4);
	-ms-animation-name:fadeG;
	-ms-animation-duration:0.72s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
}

#rotateG_01{
	left:0;
	top:28px;
	-webkit-animation-delay:0.27s;
	-webkit-transform:rotate(-90deg);
	-moz-animation-delay:0.27s;
	-moz-transform:rotate(-90deg);
	-o-animation-delay:0.27s;
	-o-transform:rotate(-90deg);
	-ms-animation-delay:0.27s;
	-ms-transform:rotate(-90deg);
}

#rotateG_02{
	left:8px;
	top:10px;
	-webkit-animation-delay:0.36s;
	-webkit-transform:rotate(-45deg);
	-moz-animation-delay:0.36s;
	-moz-transform:rotate(-45deg);
	-o-animation-delay:0.36s;
	-o-transform:rotate(-45deg);
	-ms-animation-delay:0.36s;
	-ms-transform:rotate(-45deg);
}

#rotateG_03{
	left:26px;
	top:3px;
	-webkit-animation-delay:0.45s;
	-webkit-transform:rotate(0deg);
	-moz-animation-delay:0.45s;
	-moz-transform:rotate(0deg);
	-o-animation-delay:0.45s;
	-o-transform:rotate(0deg);
	-ms-animation-delay:0.45s;
	-ms-transform:rotate(0deg);
}

#rotateG_04{
	right:8px;
	top:10px;
	-webkit-animation-delay:0.54s;
	-webkit-transform:rotate(45deg);
	-moz-animation-delay:0.54s;
	-moz-transform:rotate(45deg);
	-o-animation-delay:0.54s;
	-o-transform:rotate(45deg);
	-ms-animation-delay:0.54s;
	-ms-transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:28px;
	-webkit-animation-delay:0.63s;
	-webkit-transform:rotate(90deg);
	-moz-animation-delay:0.63s;
	-moz-transform:rotate(90deg);
	-o-animation-delay:0.63s;
	-o-transform:rotate(90deg);
	-ms-animation-delay:0.63s;
	-ms-transform:rotate(90deg);
}

#rotateG_06{
	right:8px;
	bottom:7px;
	-webkit-animation-delay:0.72s;
	-webkit-transform:rotate(135deg);
	-moz-animation-delay:0.72s;
	-moz-transform:rotate(135deg);
	-o-animation-delay:0.72s;
	-o-transform:rotate(135deg);
	-ms-animation-delay:0.72s;
	-ms-transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:26px;
	-webkit-animation-delay:0.8099999999999999s;
	-webkit-transform:rotate(180deg);
	-moz-animation-delay:0.8099999999999999s;
	-moz-transform:rotate(180deg);
	-o-animation-delay:0.8099999999999999s;
	-o-transform:rotate(180deg);
	-ms-animation-delay:0.8099999999999999s;
	-ms-transform:rotate(180deg);
}

#rotateG_08{
	left:8px;
	bottom:7px;
	-webkit-animation-delay:0.9s;
	-webkit-transform:rotate(-135deg);
	-moz-animation-delay:0.9s;
	-moz-transform:rotate(-135deg);
	-o-animation-delay:0.9s;
	-o-transform:rotate(-135deg);
	-ms-animation-delay:0.9s;
	-ms-transform:rotate(-135deg);
}

@-webkit-keyframes fadeG{
	0%{background-color:#000000}
	100%{background-color:#ec7f18}
}

@-moz-keyframes fadeG{
	0%{background-color:#000000}
	100%{background-color:#ec7f18}
}

@-o-keyframes fadeG{
	0%{background-color:#000000}
	100%{background-color:#ec7f18}
}

@-ms-keyframes fadeG{
	0%{background-color:#000000}
	100%{background-color:#ec7f18}
}