<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- TODO: Add <servlet> tags for each servlet here. -->
	<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
	<!-- TODO: Optionally add a <welcome-file-list> tag to display a welcome file. -->
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/admin.html/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	<servlet>
		<servlet-name>LeaderServlet</servlet-name>
		<servlet-class>project.servlet.LeaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaderServlet</servlet-name>
		<url-pattern>/leader</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PartyServlet</servlet-name>
		<servlet-class>project.servlet.PartyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PartyServlet</servlet-name>
		<url-pattern>/party</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CauseServlet</servlet-name>
		<servlet-class>project.servlet.CauseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CauseServlet</servlet-name>
		<url-pattern>/cause</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForumCategoryServlet</servlet-name>
		<servlet-class>project.servlet.ForumCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForumCategoryServlet</servlet-name>
		<url-pattern>/forumcategory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForumPostServlet</servlet-name>
		<servlet-class>project.servlet.ForumPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForumPostServlet</servlet-name>
		<url-pattern>/forumpost</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForumTopicServlet</servlet-name>
		<servlet-class>project.servlet.ForumTopicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForumTopicServlet</servlet-name>
		<url-pattern>/forumtopic</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>project.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserDataServlet</servlet-name>
		<servlet-class>project.servlet.UserDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDataServlet</servlet-name>
		<url-pattern>/userdata</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AssimilateData</servlet-name>
		<servlet-class>project.servlet.AssimilateData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AssimilateData</servlet-name>
		<url-pattern>/assimilatedata</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BackupData</servlet-name>
		<servlet-class>project.servlet.BackupData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BackupData</servlet-name>
		<url-pattern>/backupdata</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindNearestNeighbor</servlet-name>
		<servlet-class>project.servlet.FindNearestNeighbor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindNearestNeighbor</servlet-name>
		<url-pattern>/findnearestneighbor</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>